*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
}
body{
				width: 100%;
				min-height: 100vh;
				background: #fff;
}
.main_nav{
				position: relative;
				width: 200px;
				min-height: 100vh;
				background-image: linear-gradient(74deg,#0042ff,#0081ff);
				border-top-right-radius: 70px;
				padding: 30px;
				overflow : hidden ;
}
.main_nav h3{
				position: relative;
				font-size: 1.6em;
				color: #fff;
	   font-weight: 400px;
	   text-transform: uppercase;
			
}
.main_nav ul{
				position: relative;
				top: 40px;
				left: 20px;
				list-style: none;
}
.main_nav ul li{
				position : relative;
				margin: 25px auto 0px auto;
				text-transform: uppercase;
				width:180px;
				height: 40px;
				border-top-left-radius: 30px;
			 
				right: 20px;
				padding: 10px 16px;
}

	

.main_nav ul li a{
				position : relative;
				color: #fff;
				text-decoration: none;
				text-transform: ;
				font-weight: 600px;
				letter-specing: 1px;
				cursor: pointer;
}

		

.main_nav ul li:hover {
				background: #fff;
				transition: 0.3s linear;
				 
}
.main_nav ul li:hover a{
				color: #0081ff;
}